/* style sheet for pramming books */
.program_book {
    height: 83vh;
}

.program_book h2 {
    font-size: 2.5rem;
    margin-left: 35rem;
    font-family: 'Alkatra', cursive;
}

@media screen and (max-width:1300px) {
    .program_book h2 {
        font-size: 2rem;
        margin-left: 15rem;
    }
}

@media screen and (max-width:700px) {
    .program_book h2 {
        font-size: 1.5rem;
        margin-left: 7rem;
    }

    .btnNew {
        font-size: 1rem;
        width: 6rem;
    }

    .button {
        right: 5rem;
        /* width: 16rem; */
        /* font-size: 1rem; */
    }
}

@media screen and (max-width:450px) {
    .program_book h2 {
        /* font-size: 1.5rem; */
        margin-left: 5rem;
    }

    .btnNew {
        font-size: 1rem;
        width: 6rem;
    }

    .button {
        right: 2rem;
        /* width: 16rem; */
        /* font-size: 1rem; */
    }
}